nav{
    position: absolute;
    bottom: 0;
    background-color: beige;
    border: 2 solid;
    width: 100%;
    padding: 20px 5px;
    ul{
        display: flex;
        justify-content: space-between;
    }
}