* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$yaleblue: #043b6e;
$purpureus: #aa35a4;
$orangepeel: #fea101;

body {
  background: linear-gradient(160deg, $yaleblue 40%, $orangepeel 90%);
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
